div.nav{
    width: 100%;
    height: 40px;
    background-color: lightpink;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    font-size: 2em;
    text-align: center;
}
body{
    background-color: brown;
}

h1{
    font-family: Rockwell,"Courier Bold",Courier,Georgia,Times,"Times New Roman",serif;
    width:100%;
}

h2{
    font-family: "Rockwell Extra Bold","Rockwell Bold",monospace;
    width:150%;
    margin: 0 auto;
}

h1.Personal-profile{
    text-align: center;
    font-size: 3em;
    width: 50%;
    margin: 0 auto;
}

h1.educations{
    text-align: center;
    font-size: 3em;
    width: 50%;
    margin: 0 auto;
}

h1.organizational-experience{
    text-align: center;
    font-size: 3em;
    width: 50%;
    margin: 0 auto;
}

h1.seminar-workshop{
    text-align: center;
    font-size: 3em;
    width: 50%;
    margin: 0 auto;
}

h1.contact-me{
    text-align: center;
    font-size: 3em;
    width: 50%;
    margin: 0 auto;
}

p{
    font-family: 'Noto Serif', serif;
}

em{
    color: lightgrey;
}

@media screen and (max-width:400px){
    div.nav{
        font-size: 1em;
    }
    h1.Personal-profile{
        font-size: 2em;
    }
    h1.organizational-experience{
        font-size: 2em;
    }
    h1.educations{
        font-size: 2em;
    }
    h1.seminar-workshop{
        font-size: 2em;
    }
    h1.contact-me{
        font-size: 2em;
    }
}